<h1>Listing mensagems</h1>

<table>
  <thead>
    <tr>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagems.each do |mensagem| %>
      <tr>
        <td><%= mensagem.msg %></td>
        <td><%= link_to 'Show', mensagem %></td>
        <td><%= link_to 'Edit', edit_mensagem_path(mensagem) %></td>
        <td><%= link_to 'Destroy', mensagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mensagem', new_mensagem_path %>
